# 가상환경
.venv/
.venv311/

# 파이썬 캐시 파일
__pycache__/
*.pyc
.ipynb_checkpoints/



# 수업관련 문서
DSCD_수업내용/

# 과거 작업물
cosmetic_crawling/
model/skin_analysis
model/recommendation/embedding_old/
model/recommendation/embedding_pipeline/embedding_results/
model/recommendation/embedding_test/
model/recommendation/kg_pipeline/output
DB/